body{
	background-color: #DBDBDB;
	font-size: 100%;
	color: #474747;
}

.modal-content{
	font-size: 120%;
	color: #474747;
}

.rijen{
	background-color: gray;
	font-size: 1.6em;
	vertical-align: middle;
	text-align: left;
	min-height: 50px;
	/* 
	height: auto; 
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
    display: -moz-deck;
	display: flex; */

    border-bottom: 1px solid #000000;

}

.serieRijen{
	font-size: 1.6em;

}

.serieKolom{
	border: 1px solid;
	height: 100px;
	background-color: gray;
	border-radius: 0.6em;
    font-size: 120%;
    display: -webkit-box; display: -moz-box; display: -ms-flexbox;	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center; -moz-box-align: center; 	-ms-flex-align: center;	-webkit-align-items: center;
	align-items: center;
   	justify-content: center;
   	text-align: center;
   	margin-bottom: 10px;
}

.serieKolom:hover{
	background-color: #a9a9a9;
}

.boekenreeks:hover{
	background-color: #a9a9a9;
}

.kenmerken{
	border: 0px solid;
}
.glyphicon{
	font-size: 130%;
}

.hoverClass:link, :visited {
	color: #474747;
	text-decoration: none;
}
.hoverClass:hover {
	color: #d3d3d3;
	text-decoration: none;
}


#navigatie{
	margin-top: 5px;
	padding-top: 10px;
	min-height: 45px;
	height: auto;
	margin-bottom: 0px;
}

#navigatie .glyphicon{
	font-size: 100%;
}

.linkButton{
	border: 1px solid #474747;
	padding: 5px 12px 5px 12px;
    border-radius: 1.5em;	
}
.linkButton:hover{
	border: 1px solid #d3d3d3;
	background-color: #878787;
}

.glyphiconVorm2{
	color: #DBDBDB;
}
.glyphiconVorm2:hover{
	color: #474747;
}

.glyphiconVorm1{
	color: #474747;
}
.glyphiconVorm1:hover{
	color: #DBDBDB;
}
.glyphiconStatic{
	color: #474747;
}
.glyphiconStatic2{
	color: #DBDBDB;
}
#top{
	height: 50px;
	margin-bottom: 6px;
	color: #d3d3d3;
}

#kolom-glyphicon{
	text-align: center;
	float: center;
}

.vlag{
	width: 100%;
	max-width: 40px;
}

.form{
	background-color: #DBDBDB;
	border-color: #474747;
	color: #474747;
	padding: 50px;
	padding-top: 10px;
	padding-bottom: 0px;
}

.form-group{
	font-size: 80%;
}
.boekenreeks .form .linkButton{
	font-size: 60%;
	padding-top: 10px;
}

.hand{
	cursor: pointer;
}
.navSearch{

	border: 1px solid #474747;
    border-radius: 1.5em;	
    font-style: italic;
    margin: 0px;
    font-size: 80%;
    padding: 5px;
    padding-left: 10px;
    background-color: #a9a9a9;
    color: #DBDBDB;
    font-weight: bold;
}

#loginForm{
	font-size: 130%;
	background-color: #a9a9a9;
}

.placeholder{
	visibility: hidden;
}

.required{
	color: red;
	font-size: 120%;
}

.conditionalRequired{
	color: blue;
	font-size: 120%;
}

.editDeactive:link, :visited{
	color: #474747;
	text-decoration: none;
	border-color: #474747;
}
.editDeactive:hover {
	color: #d3d3d3;
	text-decoration: none;
	border-color: #d3d3d3;
	background-color: #878787;
}

.editActive:link, :visited {
	color: #d3d3d3;
	border-color: #d3d3d3;
	text-decoration: none;
	background-color: #878787;
}
.editActive:hover {
	color: #474747;
	text-decoration: none;
	border-color: #474747;
}

.legendaWit{
	color: #a0a0a0;
}

.legendaBorderWit:link{
	border-color: #a0a0a0;
}

#loginForm{
	font-size: 150%;
}