.carousel .carousel-inner .item img {
    width: 100%;
}
.carousel .carousel-indicators li {
    border-color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.0);
}
.carousel .carousel-indicators li:hover {
    border-color: rgba(64, 74, 133, 1);
    background: rgba(255, 255, 255, 0.0);
}
.carousel .carousel-indicators li.active {
    border-color: rgba(255, 255, 255, 1);
    background: rgba(0, 50, 100, 1);
}

#myCarousel {
	
}

#flat-indicators {
    display: table;
    table-layout: fixed;
    width: calc(100% + 4px);
    left: -2px;
    right: -2px;
    margin: 0;
    border-spacing: 2px 0;
}
#flat-indicators li {
    width: auto;
    height: 5px;
    margin: 0;
    display: table-cell;
    border-radius: 0;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    transition: height 0.5s ease;
}
.carousel:hover .carousel-indicators li {
    height: 14px;
}
.carousel-indicators li.active {
    height: auto;
    margin: auto;
}
.carousel-indicators {
    bottom: 0;
}
.carousel .carousel-caption {
    color: rgba(0, 50, 100, 1);
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    display: block;
    z-index: 0;
}
.carousel .carousel-caption {
    background-color: rgba(255, 255, 255, 0.8);
}
.carousel .carousel-caption {
    right: 0;
    left: 0;
    bottom: 0;
    padding: 30px 10px 50px;
}
.carousel-control {
    opacity: 1;
    color: rgba(255, 255, 255, 0.67);
}
.carousel-control:hover,
.carousel-control:focus,
.carousel-control:active {
    opacity: 1;
    color: rgba(196, 184, 184, 0.95);
}
.carousel-control.left {
    background: -webkit-linear-gradient(left, rgba(0, 50, 100, 0) 0, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 50, 100, 0) 0, rgba(0, 0, 0, 0) 100%);
}
.carousel-control.right {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 50, 100, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 50, 100, 0) 100%);
}
.carousel-control.left:hover,
.carousel-control.left:focus,
.carousel-control.left:active {
    background: -webkit-linear-gradient(left, rgba(179, 192, 204, 0.16) 0, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(179, 192, 204, 0.16) 0, rgba(0, 0, 0, 0) 100%);
}
.carousel-control.right:hover,
.carousel-control.right:focus,
.carousel-control.right:active {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(179, 192, 204, 0.16) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(179, 192, 204, 0.16) 100%);
}
.carousel .carousel-control span {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.carousel .carousel-control.left span {
    margin-left: -10px;
    left: 50%;
}
.carousel .carousel-control.right span {
    margin-right: -10px;
    right: 50%;
}
@media (min-width: 768px) {
    .carousel-control span {
        width: 30px;
        height: 30px;
        margin-top: -10px;
        font-size: 30px;
    }
}
.carousel .carousel-control {
    top: 50%;
    width: 30px;
    height: 60px;
    margin-top: -30px;
}
.carousel .carousel-control.left {
    border-radius: 0 5px 5px 0;
}
.carousel .carousel-control.right {
    border-radius: 5px 0 0 5px;
}
.carousel .carousel-control span {
    margin-top: -10px;
}
.carousel .carousel-control.left span {
    margin-left: -10px;
}
.carousel .carousel-control.right span {
    margin-right: -10px;
}
@media (min-width: 768px) {
    .carousel .carousel-control {
        width: 40px;
        height: 80px;
        margin-top: -40px;
    }
    .carousel .carousel-control span {
        margin-top: -14px;
    }
    .carousel .carousel-control.left span {
        margin-left: -14px;
    }
    .carousel .carousel-control.right span {
        margin-right: -14px;
    }
}