body {
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.glyphicon-map-marker {
	color: #1C418C;
}
.glyphicon-earphone {
	color: #1C418C;
}
.glyphicon-envelope {
	color: #1C418C;
}
.glyphicon-briefcase {
	color: #1C418C;
}
.gal {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}
.gal img {
	width: 100%;
	padding: 7px 0;
}

@media (max-width: 500px) {
.gal {
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
	-moz-column-count: 1; /* Firefox */
	column-count: 1;
}
}
#address-info {
	font-family: Poppins;
	font-size: 18px;
}
#hamburger-menu {
	font-size: 35px;
	top: 10px;
}
.main-wrapper {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1;
}
.section-company {
}
.content-wrapper {
	max-width: 1300px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 6.3px 0.7px rgba(0, 0, 0, 0.26);
	min-height: 450px;
}
.content-wrapper-maps {
	max-width: 1300px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 6.3px 0.7px rgba(0, 0, 0, 0.26);
}
.companyName {
	font-family: Poppins;
	color: #000000;
	font-size: 9.38em;
	font-weight: 400;
	text-shadow: 0px 7px 5.04px rgba(0, 0, 0, 0.38);
}
.sloganName {
	font-family: Poppins;
	color: #000000;
	font-size: 3.75em;
	font-weight: 300;
	font-style: italic;
	text-shadow: 0px 7px 5.04px rgba(0, 0, 0, 0.38);
}
#wrapper-text {
	font-family: Poppins;
	color: #000000;
	font-size: 1.3em;
	font-weight: 500;
}
#wrapper-text-left {
	font-family: Poppins;
	color: #000000;
	font-size: 1.3em;
	font-weight: 200;
}
#logoName {
	font-family: Poppins;
	color: #ffffff;
	font-size: 2.5em;
	font-weight: 400;
}
#slogan {
	font-size: 0.5em;
	text-transform: none;
}
#navbarRight {
	margin-right: 0;
}
.slogan {
	font-family: Poppins;
	color: #ffffff;
	font-size: 1.25em;
	font-weight: 100;
	font-style: italic;
	padding-top: 30px;
}
.topnav {
	background-color: #003264;
	position: fixed;
	width: 100%;
	z-index: 99;
}
.topnav a {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Poppins;
	color: #ffffff;
	font-size: 1.13em;
	font-weight: 500;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 80px;
}
.topnav a:hover {
	color: black;
	text-decoration: none;
}
.dropdown.open .caret{
    transform: rotate(180deg);
}
.active {
	color: #000;
}
.topnav .icon {
	display: none;
}
#menu1 {
	text-transform: uppercase;
	font-family: Poppins;
	color: #ffffff;
	font-size: 1.13em;
	font-weight: 500;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 40px;
	border: none;
	background-color: transparent;
}
.dropdown-menu > li > a {
	color: #003264 !important;
	width: 100%;
}

footer {
	background-color: #000;
	position: static;
	width: 100%;
	bottom: 0;
	color: #fff;
}
.footer-info {
	font-size: 1em;
}
.copyright {
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	font-size: 1.13em;
}
.footer-heading {
	font-family: Poppins;
	color: #ffffff;
	font-size: 1.13em;
	font-weight: 400;
}
.text-center {
	font-family: Poppins;
	color: #ffffff;
	font-size: 1.13em;
	font-weight: 400;
	padding-top: 15px;
}
.heading {
	font-family: Poppins;
	color: #000000;
	font-size: 2.5em;
	font-weight: 400;
	text-shadow: 0px 7px 5.04px rgba(0, 0, 0, 0.38);
}
#firstcap {
	float: none;
	font-family: Poppins;
	text-shadow: 0px 4px 2.04px rgba(0, 0, 0, 0.38);
	font-size: 1.5em;
	margin: 0;
	color: #003264;
}
.text-title {
	color: #000;
	font-weight: bold;
	font-family: Poppins;
}
.wrapper-txt {
	font-family: poppins;
	font-size: 1em;
	color: #000;
	text-align: justify;
}
.idea-def {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 730px) {
.topnav a:not(:first-child) {
	display: none;
}
.topnav a.icon {
	float: right;
	display: block;
}
.navbar-nav > li > a {
	line-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.companyName {
	font-size: 4em;
}
.sloganName {
	font-size: 2em;
}


@media screen and (max-width: 730px) {
.topnav.responsive {
	position: fixed;
}
.topnav.responsive .icon {
	position: absolute;
	right: 0;
	top: 0;
}
.topnav.responsive a {
	float: none;
	display: block;
	text-align: left;
}
}

@media screen and (max-width: 1300px) {
.content-wrapper {
	margin: 0 10px;
}
}

@media screen and (max-width: 730px) {
	.page-footer {
		font-size: 10px;
	}
	.footer-info {
		float: right;
		text-align: right;
	}
}
	
	
		#toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #003264;
    width: 130px;
    height: 35px;
		border: none;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
		z-index: 999;
}
#toTop i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#toTop:hover {
    background: rgba(0, 0, 0, 0.9);
}
#toTop:hover i {
    color: #fff;
    top: 5px;
}
	
